@using (Html.BeginForm())
{
    <label for="search">Search</label>
    <input type="text" name="search" />
    <label for="limit">Limit</label>
    <input type="text" name="limit" />

    <input type="submit" value="GetGif" />
}

<div id="result"></div>

<script>

</script>